@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<it.invisiblefarm.dizionaricondivisi.DizionariCondivisiAutorizzaUtente.Models.AutorizzaUtenteModel>

    <div class="row">
        <div class="col-sm-12">
            <h2>Elenco degli utenti da autorizzare</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="tbl-utenti-autorizzare" class="simple-table display cell-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Email</th>
                        <th>Data iscrizione</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

<script type="text/javascript">
    const tblId = "#tbl-utenti-autorizzare";

    function fnBuildInputParamsTblUtentiAutorizzare() { }

    function fnOnSuccessTblUtentiAutorizzare(json) {
        try {
            console.log(json);

            return json;
        }
        catch (e) {
            dtSetError(tblId);
        }
    }

    $(document).ready(function () {
        main_table = $(tblId).DataTable({
            dom: "Sfrtip",
            ajax: dtBuildAjax(tblId, '@Url.Content("~/DesktopModules/MVC/DizionariCondivisiAutorizzaUtente/Home/LoadData")',
                @Dnn.ModuleContext.ModuleId, @Dnn.ModuleContext.TabId,
                fnBuildInputParamsTblUtentiAutorizzare, fnOnSuccessTblUtentiAutorizzare
            ),
            columns: [
                {
                    data: "Nome",
                    type: "text",
                    autoWidth: true,
                },
                {
                    data: "Cognome",
                    type: "text",
                    autoWidth: true,
                },
                {
                    data: "Email",
                    type: "text",
                    autoWidth: true,
                },
                {
                    data: "DataCreazione",
                    type: "text",
                    autoWidth: true,
                },
                {
                    data: "UserId",
                    type: "int",
                    autoWidth: true,
                    render: function (a, b, data, d) {
                        return '<button type="button" class="btn btn-success" onclick="authorizeUser(' + data.UserId + ')">Autorizza</button>';
                    }
                }
            ],
        });
    });

    function fnBuildInputParamsAuthorizeUser(uid) {
        let parameters = {
            userId: uid
        };

        return parameters;
    };

    function reload_table() {
        main_table.ajax.reload();
    }

    function authorizeUser(userId) {
        if (userId <= 0) {
            console.log("Impossibile identificare utente");

            return false;
        }
                
        $("#wait").show();

        $.ajax({
            url: '@Url.Content("~/DesktopModules/MVC/DizionariCondivisiAutorizzaUtente/Home/AuthorizeUser")',
            method: "Post",
            type: "POST",
            datatype: "json",
            data: fnBuildInputParamsAuthorizeUser(userId),
		    headers: {
			    "ModuleId": @Dnn.ModuleContext.ModuleId,
			    "TabId": @Dnn.ModuleContext.TabId,
			    "RequestVerificationToken": $("input[name='__RequestVerificationToken']").val()
            },
            success: function (data) {
                alertify.alert(
                    "Stato operazione",
                    data
                );
            },
            error: function (error) {
                alertify.alert(
                    "Errore generico",
                    "Si è verificato un errore generico, contattare l'Assistenza"
                );
            },
            complete: function () {
                $("#wait").hide();

                reload_table();
            }
        });
    }
</script>